<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :item_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :item_description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :item_category %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :item_genre %>
  </div>

  <div class="field">
    <%= form.label :singer %>
    <%= form.text_field :singer, id: :item_singer %>
  </div>

  <div class="field">
    <%= form.label :record_label %>
    <%= form.text_field :record_label, id: :item_record_label %>
  </div>

  <div class="field">
    <%= form.label :released_date %>
    <%= form.date_select :released_date, id: :item_released_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :item_duration %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :item_rating %>
  </div>

  <div class="field">
    <%= form.label :casts %>
    <%= form.text_field :casts, id: :item_casts %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= form.text_field :direction, id: :item_direction %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :item_author %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :item_isbn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
