<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @item, html: { multipart: true } do |form| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    
      <%= form.label :category %>
      <%= form.text_field :category, class: 'form-control' %>
      
      <%= form.label :genre %>
      <%= form.text_field :genre, class: 'form-control' %>
    
      <%= form.label :singer %>
      <%= form.text_field :singer, class: 'form-control' %>
      
      <%= form.label :record_label %>
      <%= form.text_field :record_label, class: 'form-control' %><br>
      
      <%= form.label :released_date %>
      <%= form.date_select :released_date, class: 'form-control' %><br>
    
      <%= form.label :duration %>
      <%= form.text_field :duration, class: 'form-control' %>
    
      <%= form.label :rating %>
      <%= form.text_field :rating, class: 'form-control' %>
     
      <%= form.label :casts %>
      <%= form.text_field :casts, class: 'form-control' %>
      
      <%= form.label :direction %>
      <%= form.text_field :direction, class: 'form-control' %>
      
      <%= form.label :author %>
      <%= form.text_field :author, class: 'form-control' %>
     
      <%= form.label :isbn %>
      <%= form.text_field :isbn, class: 'form-control' %>
      
      <%= form.label :image %>
      <%= form.file_field :image, class: 'form-control' %><br>
     
      <%= form.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


