<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @item.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @average_rating %> ></div>
        <em><%= "#{@user_ratings.length} user ratings" %></em> |
        <% if user_signed_in? && @item.user_id == current_user.id %>
          <%= link_to 'Edit', edit_item_path(@item) %> |
          <%= link_to 'Delete', item_path(@item), method: :delete, 
                       data: {confirm: "Really delete this item?"} %> |
        <% end %>
        <%= link_to 'Back', items_path %>
      
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @item.title %></td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @item.category %></td>
              </tr>
              <tr>
                <td><strong>Genre:</strong></td>
                <td><%= @item.genre %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_item_user_rating_path(@item) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="user_rating_title"><%= @item.title %></h1>
        <p><%= @item.description %></p>
        
        <% if @user_ratings.blank? %>
          <h3>There's no any review yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_item_user_rating_path(@item), class: "btn btn-danger" %>
        <% else %>
          <% @user_ratings.each do |user_rating| %>
            <div class="user_ratings">
              <div class="star-rating" data-score= <%= user_rating.score %> ></div>
              <p><%= user_rating.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

