<%= form_for([@item, @user_rating]) do |form| %>
  <% if @user_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_rating.errors.count, "error") %> prohibited this user rating from being saved:</h2>

      <ul>
        <% @user_rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="star-rating"></div>
  </div><br/>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: "form-control" %>
  </div><br/>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'user_rating[score]'
  });
</script>
